<canvas></canvas>

<div class="card-container container-fluid d-flex align-items-center justify-content-center">
  <div class="card new-card">
    <div class="card-body">
      <%= form_tag url_for(action: 'create'), method: 'post' do %>
        <h1 class='car-title mb-4'>Créer un potin</h1>
        <div class="form-floating">
          <%= text_field_tag 'title',
            nil,
            id: 'inputTitle',
            class: 'form-control m-2 ms-0',
            placeholder: 'Titre'
          %>
          <%= label_tag 'inputTitle', 'Titre' %>
        </div>

        <div class="form-floating">
          <%= text_area_tag 'content',
            nil,
            id: 'inputContent',
            class: 'form-control m-2 ms-0',
            placeholder: 'Contenu'
          %>
          <%= label_tag 'inputContent', 'Contenu' %>
        </div>

        <div class="form-floating">
          <%= text_field_tag 'input_tag',
            nil,
            id: 'inputTags',
            class: 'tag-input form-control m-2 ms-0',
            placeholder: 'Tags'
          %>
          <%= label_tag 'inputTags', 'Tags' %>
        </div>

        <%= hidden_field :tags, nil, class: 'tags-array' %>

        <div class="tag-container">
        </div>

        <%= submit_tag 'Créer un potin',
          class: 'btn btn-primary m-3 ms-0' 
        %>
      <% end %>
    </div>
  </div>
</div>