<canvas></canvas>

<div class="card-container container-fluid d-flex justify-content-center">
  <div class="card show-card">
    <div class="card-body">
      <h1 class='card-title'><%= @gossip.title%></h1>
      <h3 class='card-subtitle mb-4'>
        <%=
          link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}",
          user_path(@gossip.user.id)
        %>
      </h3>
      <% @gossip.tags.each do |tag| %>
        <%= link_to tag_path(tag.id) do %>
          <div class="btn btn-primary p-1 m-1 ms-0">
            <%= tag.title %>
          </div>
        <% end %>
      <% end %>
      <div class='card-text m-3 ms-0'><%= @gossip.content %></div>
    </div>
  </div>
</div>
