<canvas></canvas>

<div class="card-container container-fluid d-flex justify-content-center">
  <div class="card show-card">
    <div class="card-head">
      <div class='container-fluid ps-0 m-4 ms-0 me-0 d-flex align-items-center justify-content-between'>
        <h1 class='card-title'><%= @gossip.title%></h1>
        <div class='d-flex flex-column align-items-end'>
          <%= link_to 'Editer le gossip', edit_gossip_path(@gossip.id) %>
          <%= link_to 'Supprimer le gossip',
            gossip_path(@gossip),
            data: { confirm: "Euuuuh t'es sûr ?", method: 'DELETE' }
          %>
        </div>
      </div>
      <h3 class='card-subtitle mb-4'>
        <%=
          link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}",
          user_path(@gossip.user.id)
        %>
      </h3>
    </div>
    <div class='card-body ps-0 pe-0'>
      <% @gossip.tags.each do |tag| %>
        <%= link_to tag_path(tag.id) do %>
          <div class="btn btn-primary p-1 m-1 ms-0">
            <%= tag.title %>
          </div>
        <% end %>
      <% end %>
      <div class='card-text m-3 ms-0'><%= @gossip.content %></div>
      <div class="card-text m-3 ms-0">
        <p>Commentaires :</p>
        <% @gossip.comments.each do |comment| %>
          <div class="container comment-container pe-0">
            <%=
              link_to "#{comment.user.first_name} #{comment.user.last_name}",
              user_path(comment.user.id)
            %><br/>
            <div class="comment-actions">
              <div class="create-comment-container">
                <div class="comment-content"><%= comment.content %></div>
                <%= link_to 'Editer le commentaire',
                  '#',
                  class: 'create-comment',
                  style: 'display: block'
                %>
                <%= form_tag comment_path(comment),
                method: 'put',
                class: 'comment-form',
                style: 'display: none' do %>
                  <%= hidden_field_tag :commentable, @gossip.id %>
                  <div class="form-floating">
                    <%= text_area_tag 'content',
                      comment.content,
                      id: 'inputContent',
                      class: 'form-control m-2 ms-0',
                      placeholder: 'Contenu'
                    %>
                    <%= label_tag 'inputContent', 'Contenu' %>
                  </div>
                  <%= submit_tag 'Commenter',
                    class: 'btn btn-primary m-3 ms-0'
                  %>
                <% end %>
              </div>
              <%= link_to 'Supprimer le commentaire',
                comment_path(comment),
                data: { confirm: "Euuuuh t'es sûr ?", method: 'DELETE' }
              %>
            </div>
            <% comment.comments.each do |com_of_comment| %>
              <div class="container comment-container pe-0">
                <%=
                  link_to "#{com_of_comment.user.first_name} #{com_of_comment.user.last_name}",
                  user_path(com_of_comment.user.id)
                %><br/>
                <%= com_of_comment.content %><br/>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="create-comment-container">
        <%= link_to 'Créer un commentaire',
          '#',
          class: 'create-comment',
          style: 'display: block'
        %>
        <%= form_tag comment_index_path,
        method: 'post',
        class: 'comment-form',
        style: 'display: none' do %>
          <%= hidden_field_tag :commentable, @gossip.id %>
          <div class="form-floating">
            <%= text_area_tag 'content',
              nil,
              id: 'inputContent',
              class: 'form-control m-2 ms-0',
              placeholder: 'Contenu'
            %>
            <%= label_tag 'inputContent', 'Contenu' %>
          </div>
          <%= submit_tag 'Commenter',
            class: 'btn btn-primary m-3 ms-0'
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
