<canvas></canvas>

<div class="card-container container-fluid d-flex justify-content-center">
  <div class="card show-card">
    <div class="card-body">
      <h1 class='card-title'><%= @city.name %></h1>
      <p class='card-text mb-5'><%= @city.zip_code %></p>
      <% @city.gossips.each do |gossip| %>
        <div class="card gossip-card mb-2">
          <%= link_to gossip_path(gossip) do %>
            <div class="card-body">
              <div class="card-title">
                <%= gossip.user.first_name %>
              </div>
              <div class="card-text">
                <%= gossip.title %>
              </div>
              <div class="card-text mt-2">
                <div class="likes-count me-2">
                  <%= gossip.likes.count %> like(s)
                  <ul class='likes-display'>
                    <% gossip.likes.each do |like| %>
                      <li><%= "#{like.user.first_name} #{like.user.last_name}" %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
