<canvas></canvas>

<div class="alert-container position-absolute bottom-0">
  <% if @gossip %>
    <% if @gossip.errors.any? %>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li class='alert alert-warning' role='alert'>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="card-container container-fluid d-flex align-items-center justify-content-center">
  <div class="card new-card">
    <div class="card-body">
      <%= form_tag url_for(action: 'update'), method: 'put' do %>
        <h1 class='car-title mb-4'>Editer le profil</h1>
        <div class="form-floating">
          <%= text_field_tag 'first_name',
            nil,
            id: 'inputFirstName',
            class: 'form-control m-2 ms-0',
            placeholder: 'Prénom',
            value: @user.first_name
          %>
          <%= label_tag 'inputFirstName', 'Prénom' %>
        </div>

        <div class="form-floating">
          <%= text_field_tag 'last_name',
            nil,
            id: 'inputLastName',
            class: 'form-control m-2 ms-0',
            placeholder: 'Nom',
            value: @user.last_name
          %>
          <%= label_tag 'inputLastName', 'Nom' %>
        </div>
        
        <div class="form-floating">
          <%= text_field_tag 'age',
            nil,
            id: 'inputAge',
            class: 'form-control m-2 ms-0',
            placeholder: 'Age',
            value: @user.age
          %>
          <%= label_tag 'inputAge', 'Age' %>
        </div>

        <div class="form-floating">
          <%= text_field_tag 'city',
            nil,
            id: 'inputCity',
            class: 'form-control m-2 ms-0',
            placeholder: 'Ville',
            value: @user.city.name
          %>
          <%= label_tag 'inputCity', 'Ville' %>
        </div>

        <div class="form-floating">
          <%= text_area_tag 'description',
            @user.description,
            id: 'inputDescription',
            class: 'form-control m-2 ms-0',
            placeholder: 'Description'
          %>
          <%= label_tag 'inputDescription', 'Description' %>
        </div>

        <div class="form-floating">
          <%= password_field_tag 'password',
            nil,
            id: 'inputPassword',
            class: 'form-control m-2 ms-0',
            placeholder: 'Mot de passe'
          %>
          <%= label_tag 'inputPassword', 'Mot de passe' %>
        </div>

        <%= submit_tag 'Editer le profil',
          class: 'btn btn-primary m-3 ms-0' 
        %>
      <% end %>
    </div>
  </div>
</div>
