<canvas></canvas>

<div class="card-container container-fluid d-flex justify-content-center">
  <div class="card show-card">
    <div class="card-body">
      <h1 class='card-title'><%= @user.first_name %> <%= @user.last_name %></h1>
      <div class="container-fluid p-3 ps-0 d-flex justify-content-between">
        <span class='card-text'>Age : <%= @user.age %></span>
        <span class="card-text">Ville : <%= link_to @user.city.name, city_path(@user.city) %></span>
      </div>
      <p class='card-text'>Email : <%= @user.email %></p>
      <p class='card-text'><%= @user.description %></p>
      <p class="card-text">Gossips :</p>
      <% @user.gossips.each do |gossip| %>
        <%= link_to gossip_path(gossip) do %>
          <div class="btn btn-primary m-1 ms-0">
            <%= gossip.title %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
