<!DOCTYPE html>
<html>
  <head>
    <title>PetitCachottier</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/kute.js/2.0.0/kute.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/9761517a07.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand" id='nav1'>
      <div class="container-fluid">
        <%= link_to 'Petit Cachottier', root_path, class: "navbar-brand text-white" %>
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to "Créer un gossip", new_gossip_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "L'équipe", team_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact", contact_path, class: 'nav-link text-white' %>
          </li>
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to "Logout", session_path(session.id), method: :delete, class: 'nav-link text-white' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Signup", new_user_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>

    <div class="flash position-absolute bottom-0">
      <ul>
        <% flash.each do |key, value| %>
          <% value.each do |message| %>
            <li class="alert alert-<%= key %>"><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
